<h1>Hello: <%= @user.email %> </h1>
<p>

  <% if @user.artists.empty? %>No fav artists<% end %>

        <% @user.artists.each do |artist| %>
        <%= artist.name %>

        <% artist.users.each do |user| %>
        <%= user.email %>
        <%end%><br>

        <% end %>

<p>
